@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}
/* Container */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header{
    background-color:#35424a;
    color: #ffffff;
    padding-top:30px ;
    min-height: 70%;
    border-bottom: 6px solid red;
}
header a{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}
header ul{
    margin: 0;
    padding: 0;
}
header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding{
    float: left;
}
header #branding h1 {
    margin: 0;
}
header nav{
    float:right;
    margin-top: 10px;
}
header .highlight, header .current a{
    color: red;
    font-weight: bold;
}
/* SHOWCASE */
#showcase {
    min-height: 400px;
    background: url('./img/showcase.jpg')  no-repeat 0 -400px;
    text-align: center;
    color: #ffffff;
}
#showcase h1{
    font-size: 55px;
    margin-top: 100px;
    margin-bottom: 10px;
}
#showcase p {
    font-size: 20px;
}
#newsletter{
    padding: 15px;
     color: #ffffff;
    background-color: coral;
}
#newsletter h1{
    float: left;
}
#newsletter form {
    float: right;
    margin-top: 15px;
}
#newsletter input[type="email"]{
    padding: 4px;
    height: 20px;
    width: 250px;
}
.button_1{
    height: 38px;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    background: #e8491d;
}
/* BOXES */
#boxes{
    margin-top: 25px;
}
#boxes .box{
    float: left;
    width: 30%;
    text-align: center;
    padding: 10px;
}
#boxes .box > img{
    width: 90px;
}
footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: rgb(53, 58, 63);
    text-align: center;
}
aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}
article#main-col{
    float: left;
    width: 65%;
}
.dark{
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color:#ffffff;
    background: rgb(53, 58, 63);
}
/* Media Queries */
@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
      float:none;
      text-align:center;
      width:100%;
    }
  
    header{
      padding-bottom:20px;
    }
  
    #showcase h1{
      margin-top:40px;
    }
  
    
  
    #newsletter form input[type="email"], .quote input, .quote textarea{
      width:100%;
      margin-bottom:5px;
    }
  }
  